.about {
  margin-top: 170px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 180px;
}

.collapse {
  margin-bottom: 37px;
}
.collapse-div,
.collapse-description {
  width: 100%;
}

.collapse-div {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  height: 47px;
  cursor: pointer;
}

.collapse-title {
  font-size: 18px;
  color: white;
  margin: 5px 10px;
}

.collapse-vectorDown {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  transition: transform 1s ease;
}

.collapse-vectorDown.true {
  justify-content: start;
  transform: rotate(-180deg);
}

.collapse-description {
  position: relative;
  background-color: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  line-height: 30px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1500ms ease-in-out, opacity 1000ms ease-in-out;
  padding: 5px 10px;
  box-sizing: border-box;
}

.collapse-description.open {
  max-height: 1000px;
  opacity: 1;
}
#collapse-Description {
  padding-right: 30px;
}
#collapse-Équipements {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .about {
    margin-left: 0px;
    margin-top: 135px;
    width: 100%;
  }

  .collapse-div {
    width: 100%;
  }

  .collapse-description {
    width: 100%;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  #collapse-Description {
    padding-right: 0px;
  }
  #collapse-Équipements {
    padding-left: 0px;
  }
}
